
@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Lobster&display=swap');
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: 'Poppins', sans-serif;
}

.showcase {
    position: absolute;
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-size: cover;
    z-index: 10;
    justify-content: space-between;
  }
  
  p{
    padding-left: 3%;
    padding-right: 3%;
    padding-bottom: 3%;
    
  }
  
  
  .showcase.active {
    right: 300px;
    background-color: aliceblue;
  }
  header {
    position: relative;
    top: 0;
    left: 0;
    width: 100%;
    padding: 20px;
    z-index: 5;
    display: flex;
    align-items: center;
    justify-content: space-between;
  }
  
  .logo {
    text-transform: uppercase;
    cursor: pointer;
    color: rgb(253, 253, 253);
    font-size: 27px;
    font-style:italic;
    text-decoration: none;
    letter-spacing: 2px;
    transition: 0.2s;
    font-weight: bold;
      }
      
    .logo:hover {
        letter-spacing: 3px;
        font-size: 34;
      }
  
  
  .toggle{
      position: relative;
      background: url('../imgs/list.png'); 
      width: 60px;
      height: 60px;
      background-repeat: no-repeat;
      background-size: 30px;
      background-position: center;
      cursor: pointer;
      
      
  }
  .toggle.active{
      background: url('../imgs/remove.png'); 
      background-repeat: no-repeat;
      background-size: 30px;
      background-position: center;
      cursor: pointer;
  }
  .main
  {
    text-align: center;
    background-color:rgba(100, 132, 186, 0.8);
    background-position: center;
    margin: 0% 7% 5% 7%;
    display: block;
    border-radius:15px;
  }

.main .part1{
  text-align: center;
  background-color:white;
  padding-bottom: 3%;
  margin: 1% 0% 7% 1%;
  display: inline-block;
  border-radius:15px;
  float: left;
  width: 60%;
  
}
.main .part2{
  text-align: center;
  background-color:rgb(219, 199, 158);
  margin: 1% 0% 2% 1%;
  display: inline-block;
  border-radius:15px;
  width:35%;

  
}
.main .part3{
  text-align: center;
  background-color:rgb(165, 186, 225);
  margin: 0% 0% 4% 1%;
  display: inline-block;
  border-radius:15px;
  width:35%;

  
}
.pt1{
  background-color: rgb(224, 223, 180);
  border-radius:15px;
  width:75%;
  display: inline-block;
}
  
  h1{
    text-align: center;
    display: block;
    padding-top: 7px;
    font-size: 24px;
    color:rgb(16, 17, 57);
    
  }
  
.atmo{
    text-align: left;
    color:rgb(46, 46, 114);
    margin-left:10px ;
    
}

.menu {
  position: absolute;
  top: 0;
  right: 0;
  width: 300px;
  height: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
}

.menu ul {
  position: relative;
  list-style: none;
}

.menu ul li a {
  text-decoration: none;
  font-size: 24px;
  color: black;
}
table {
  width: 85%; 
  margin: 0 auto; 
  
}
th, td {
  border: 2px dashed rgb(139, 69, 19);
  background-color: rgb(173, 216, 230);
  padding: 8px;
  text-align: center;
  border-radius: 10px;
}
th {
  position: sticky;
  top: 0;
  background-color: rgb(173, 216, 230);
}

.questions{
  display:flex;
  margin-right: 0%;
  font-family: lobster;
  font-size: 150%;
}
.quiz{
  background-color: rgb(230, 233, 237);
  border-radius:15px;
  width:75%;
  display: inline-block;
}
button{
  border: 2px dashed rgb(0, 0, 0);
  background-color: rgb(202, 209, 217);
  border-radius: 10%;
  padding: 1% 2% 1% 2%;
  cursor: pointer;
}
button:hover {
  letter-spacing: 1px;
 
}
.menu ul li a:hover {
  color: powderblue;
}
.earth
  {
    text-align: center;
    background-color:rgba(100, 132, 186, 0.8);
    background-position: center;
    margin: 0% 7% 5% 7%;
    display: block;
    border-radius:15px;
  }
  iframe{
    width:90%;
     height:700px;
     margin-bottom: 3%; 
      border: none;
      border-radius:15px;
      
}
@media(max-width:891px){
    .showcase, .showcase header{
        padding:40px;
    }
}


